@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
button#cerrarSesion{
    background-color: transparent;
    background-image: url("../../img/iconos/out.png");
    border:none;
    background-repeat: no-repeat;
}
#bitacora{
    background-color: transparent;
    border: none;
}
nav  li {
    position: relative;
    width: 100px;
}
nav li a{
    background-color: dimgrey;
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav li img{
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav li input{
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav li a:hover{
    color: black;
    background-color:red;
}
nav li input:hover{
    color: black;
    background-color:red;
}
nav li img:hover{
    color: black;
    background-color:red;
}
/* 1 nivel*/
nav {
    margin:0px;
    padding: 15px;
    background-color: dimgrey;
}
nav  li a{
    padding-left: 5px;
    width: 130px;
    text-align: left;
    list-style-type: none;
}
nav  li input{
    text-align: center;
    list-style-type: none;
}
nav  > ul > li{
    display: inline-block;
}

/* Configuración de los niveles siguientes */
nav  ul li ul {
    display: none;
    visibility: hidden;
    list-style-type: none;

}
nav  ul li:hover > ul{
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 100;
    transition: all 500ms 500ms linear;
}
/* Configuración específica para el nivel tercero y siguientes */
nav  ul ul li:hover > ul{
    /* Ojo con las posiciones y desplazamientos */
    position: absolute; 
    left: 50px;
    top: 24px;
}
nav  ul ul ul a {
    background-color: dimgrey;
    color:white;
}
#bitacora{
    background-color: transparent;
    border: none;
}
/*Movil site horizontal 320x480*/
@media only screen and (max-width:480px) and (orientation:landscape){
    button#cerrarSesion{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    #imgUsu{
        width: 30px;
        height: 30px;
    }
}
/*Movil site vertical 480x320*/
@media only screen and (max-width:768px) and (orientation:portrait){
    button#cerrarSesion{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    #imgUsu{
        width: 30px;
        height: 30px;
    }
}
/*Tablet Apps horizontal 768x1024*/
@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
    button#cerrarSesion{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    #imgUsu{
        width: 50px;
        height: 50px;
    }
}
/*Tablet Apps vertical 1024x768*/
@media only screen and (min-width:1024px) and (max-width:1680px) and (orientation:landscape){
    button#cerrarSesion{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    #imgUsu{
        width: 50px;
        height: 50px;
    }
}
/*Tablet Apps vertical 1024x768*/
@media only screen and (min-width:1024px) and (max-width:1680px) and (orientation:landscape){
     button#cerrarSesion{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    #imgUsu{
        width: 50px;
        height: 50px;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media only screen and (min-width:1680px){
    button#cerrarSesion{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    #imgUsu{
        width: 50px;
        height: 50px;
    }
}
