@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
p, h1{
    text-align: center;
}
#cabe{
    grid-areas:h0;
}
#usu{
    grid-areas:h1;
}
#con{
    grid-areas:h2;
}
#re{
    grid-areas:h3;
}
#acep{
    grid-areas:h4;
}
/*Movil site horizontal 320x480*/
@media (min-width:480px) and (orientation:landscape){
    header{
        text-align: center;
        height: 50px;
    }
    main{
        display:grid;
        grid-template-areas:
            "h0"
            "h1"
            "h2"
            "h3"
            "h4";
        border: 1px black solid;
        background-color: green;
    }
}
/*Movil site vertical 480x320*/
@media (min-width:320px) and (orientation:portrait){
    header{
        text-align: center;
        height: 50px;
    }
    main{
        display:grid;
        grid-template-areas:
            "h0"
            "h1"
            "h2"
            "h3"
            "h4";
        border: 1px black solid;
        background-color: green;
    }

}

/*Tablet Apps horizontal 768x1024*/
@media (min-width:1024px) and (orientation:landscape){
    header{
        text-align: center;
        height: 50px;
    }
    main{
        display:grid;
        grid-template-areas:
            "h0"
            "h1"
            "h2"
            "h3"
            "h4";
        border: 1px black solid;
        background-color: green;
    }
}
/*Tablet Apps vertical 1024x768*/
@media (min-width:768px) and (orientation:portrait){
    header{
        text-align: center;
        height: 50px;
    }
    main{
        display:grid;
        grid-template-areas:
            "h0"
            "h1"
            "h2"
            "h3"
            "h4";
        border: 1px black solid;
        background-color: green;
    }
}


/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1050px){
    header{
        text-align: center;
        height: 50px;
    }
    main{
        display:grid;
        grid-template-areas:
            "h0"
            "h1"
            "h2"
            "h3"
            "h4";
        background-color: green;
        margin-top: 200px;
        border: 1px black solid;
        max-width:450px; 
        padding: 10px;
    }
    p{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    a{
        margin: 10px 0px 10px 40px;
    }
    #usuario, #pwd{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 30px;
        width: 350px;
        text-align: center;
    }
    #aceptar{
        justify-content: center;
    }
}