@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../../img/fondos/mar.jpg);
    background-size: 100%;
}
header{
    margin-top: 40px;
    text-align: center;
    height: 50px;
}
main{
    display:grid;
    grid-template-areas:"h0"
        "h1"
        "h2"
        "h3"
        "h4";
    border: 1px black solid;
    background-color: white;
}
#aceptar{
    margin-top: 1%;
}
p, h1{
    margin: 1% 0px;
    text-align: center;
}
#cabe{
    grid-areas:h0;
}
#usu{
    grid-areas:h1;
}
#con{
    grid-areas:h2;
}
#re{
    grid-areas:h3;
}
#acep{
    grid-areas:h4;
}
/*Movil site horizontal 320x480*/
@media only screen and (max-width:320px) and (orientation:landscape){
    main{
        max-width: 300px;
        margin: 5% auto 0px;
        padding: 5px;
    }
    a{
        font-size: 10px;
        margin: 5% auto 0px;
    }
    #usuario, #pwd{
        margin: 0.5% auto;
        width: 300px;
        text-align: center;
    }
    #aceptar{
        margin-left: 65%;
    }
}
@media only screen and (max-width:320px) and (orientation:portrait){
    main{
        max-width: 300px;
        margin: 5%;
        padding: 0.5%;
    }
    a{
        font-size: 13px;
        margin-left: 15%;
    }
    #olvidar{
        margin-left: 5%;
    }
    #usuario, #pwd{
        margin-bottom: 0.5%;
        margin-top: 0.5%;
        margin-left: 15%;
        width: 200px;
        text-align: center;
    }
    #aceptar{
        margin-left: 65%;
    }
}
/*Movil site vertical 480x320*/
@media only screen and (min-width:321px) and (max-width:480px) and (orientation:portrait){
    main{
        max-width: 290px;
        margin: 5% auto 0px;
        padding: 5px;
    }
    p, a {
        font-size:12px;
    }
    a{
        margin-top: 0.5%;
        margin-left: 15%;
    }
    #usuario, #pwd{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 25%;
        width: 150px;
        text-align: center;
    }
    #aceptar{
        margin-left: 75%;
    }
}
@media only screen and (min-width:321px) and (max-width:480px) and (orientation:landscape){
    main{
        max-width: 290px;
        margin: 5% auto 0px;
        padding: 5px;
    }
    p, a {
        font-size:12px;
    }
    a{
        margin-top: 0.5%;
        margin-left: 15%;
    }
    #usuario, #pwd{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 24%;
        width: 150px;
        text-align: center;
    }
    #aceptar{
        margin-left: 75%;
    }
}
/*Tablet Apps vertical 768x1024*/
@media only screen and (min-width:481px) and (max-width:768px) and (orientation:portrait){
    main{
        margin: 10% auto 0px;
        max-width:395px; 
        padding: 5px;
    }
    p{
        margin: 5% 0px;
    }
    a{
        margin: 5% 0px 0px 15%;
    }
    #usuario, #pwd{
        margin: 3% 0px 3% 10%;
        width: 300px;
        text-align: center;
    }
    #aceptar{
        margin-left: 75%;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) and (orientation:landscape){
    main{
        margin: 10% auto 0px;
        max-width:395px; 
        padding: 5px;
    }
    a{
        margin: 5% 0px 0px 15%;
    }
    #usuario, #pwd{
        margin: 3% 0px 0px 10%;
        width: 300px;
        text-align: center;
    }
    #aceptar{
        margin-left: 80%;
    }
}
/*Tablet Apps horizontal 1024x768*/
@media only screen and (min-width:769px) and (max-width:1024px) and (orientation:landscape){
    main{
        max-width: 500px;
        margin: 10% auto 0px;
        padding: 10px;
    }
    a{
        margin: 0.5% 0px 0.5% 15%;
    }
    #usuario, #pwd{
        margin: 0.5% 0px 0.5% 15%;
        width: 350px;
        text-align: center;
    }
    #aceptar{
        margin-left: 80%;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media only screen and (min-width:1025px){
    main{
        font-size:20px;
        max-width: 800px;
        margin: 10% auto 0px; /*10%-> t auto->l,r 0px->b*/
        padding: 10px;
    } 
    a{
        margin: 1% 0px 0px 25%;
    }
    #usuario, #pwd{
        margin: 1% 0px 1px 25%;
        width: 350px;
        height: 30px;
        text-align: center;
    }
    #aceptar{
        margin-left: 80%;
    }
}