@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../../img/fondos/mar.jpg);
    background-size: 100%;
}
#fotoPerfil{
    width: 250px;
    height: 250px;
}

/*Movil site horizontal 320x480*/
@media (max-width:480px) and (orientation:landscape){
    #imgPerfil{
        width: 300px;
        height: 300px;
    }
}
@media (max-width:480px) and (orientation:portrait){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
/*Movil site vertical 480x320*/
@media (min-width:480px) and (max-width:768px) and (orientation:portrait){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
@media (min-width:480px) and (max-width:768px) and (orientation:landscape){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
/*Tablet Apps vertical 768x1024*/
@media (min-width:768px) and (max-width:1024px) and (orientation:portrait){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
/*Tablet Apps horizontal 1024x768*/
@media (min-width:1024px) and (max-width:1680px) and (orientation:landscape){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
@media (min-width:1024px) and (max-width:1680px) and (orientation:portrait){
    #imgPerfil{
        width: 300px;
        height: 300px;
        margin: 3% auto;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1680px){
    #imgPerfil{
        width: 500px;
        height: 500px;
        margin: 15% auto;
    }
}