@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-top: 5%;    
    text-align: center;
}
body{
    background-image: url(../../img/fondos/mar.jpg);
    background-size: 100%;
    color:white;
}
form{
    padding: 5px;
    width: 250px;
}
/*Movil site horizontal 320x480*/
@media (max-width:320px) and (orientation:landscape){
    form{
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
    input{
        font-size: 10px;
    }
}
@media (max-width:320px) and (orientation:portrait){
    form{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: calc(250px/2);
    }
}
/*Movil site vertical 480x320*/
@media (min-width:321px) and (max-width:480px) and (orientation:portrait){
    form{
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (min-width:321px) and (max-width:480px) and (orientation:landscape){
    form{
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
/*Tablet Apps vertical 768x1024*/
@media (min-width:481px) and (max-width:768px) and (orientation:portrait){
    form{
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media (min-width:481px) and (max-width:768px) and (orientation:landscape){
    form{        
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
/*Tablet Apps horizontal 1024x768*/
@media (min-width:769px) and (max-width:1024px) and (orientation:landscape){
    form{
        
        margin-top: 5%;
        margin-left: 30%;
        margin-right: 30%;
    }
}
@media (min-width:769px) and (max-width:1024px) and (orientation:portrait){
    form{
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1025px){
    form{
        margin-top: 5%;
        margin-left: 35%;
        margin-right: 35%;
    }
}