@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
nav#menuLoginAdminAula  li {
    position: relative;
    width: 200px;
}
nav#menuLoginAdminAula li a{
    background-color: dimgrey;
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav#menuLoginAdminAula li span.flecha{
    color: white;

    position: absolute;
    right: 10px;
    top: 0px;
}
nav#menuLoginAdminAula li a:hover{
    color: black;
    background-color:red;
}
nav#menuLoginAdminAula ul li a:hover{
    color: black;
    background-color:red;
}
nav#menuLoginAdminAula li a,nav#menuLoginAdminAula li a:hover{
    transition: all 500ms 100ms ease-in;
}


/* 1 nivel*/
nav#menuLoginAdminAula {
    padding-left: 110px;
    height: 150px;
}
nav#menuLoginAdminAula  li a{
    text-align: center;
    list-style-type: none;
}
nav#menuLoginAdminAula > ul{
    /**margin-left: 10px;**/
}
nav#menuLoginAdminAula  > ul > li{
    display: inline-block;
    /*margin: 5px 2px 0px;*/
}


nav#prof  li {
    position: relative;
    width: 200px;
}
nav#prof li a{
    background-color: dimgrey;
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav#prof li span.flecha{
    color: white;

    position: absolute;
    right: 10px;
    top: 0px;
}
nav#prof li a:hover{
    color: black;
    background-color:red;
}
nav#prof ul li a:hover{
    color: black;
    background-color:red;
}
nav#prof li a,nav#prof li a:hover{
    transition: all 500ms 100ms ease-in;
}


/* 1 nivel*/
nav#prof {
    padding-left: 110px;
    height: 150px;
}
nav#prof  li a{
    text-align: center;
    list-style-type: none;
}
nav#prof > ul{
    /**margin-left: 10px;**/
}
nav#prof  > ul > li{
    display: inline-block;
    /*margin: 5px 2px 0px;*/
}


nav#menuLoginAdminGene  li {
    position: relative;
    width: 200px;
}
nav#menuLoginAdminGene li a{
    background-color: dimgrey;
    color:white;

    text-decoration: none;
    list-style-type: none;

    display: block;

    margin: 0px;

    height: 1.5em;
    box-sizing: border-box;
}
nav#menuLoginAdminGene li span.flecha{
    color: white;

    position: absolute;
    right: 10px;
    top: 0px;
}
nav#menuLoginAdminGene li a:hover{
    color: black;
    background-color:red;
}
nav#menuLoginAdminGene ul li a:hover{
    color: black;
    background-color:red;
}
nav#menuLoginAdminGene li a,nav#menuLoginAdminGene li a:hover{
    transition: all 500ms 100ms ease-in;
}


/* 1 nivel*/
nav#menuLoginAdminGene {
    padding-left: 110px;
    height: 150px;
}
nav#menuLoginAdminGene  li a{
    text-align: center;
    list-style-type: none;
}
nav#menuLoginAdminGene > ul{
    /**margin-left: 10px;**/
}
nav#menuLoginAdminGene  > ul > li{
    display: inline-block;
    /*margin: 5px 2px 0px;*/
}

/*Movil site horizontal 320x480*/
@media (min-width:480px) and (orientation:landscape){

}
/*Movil site vertical 480x320*/
@media (min-width:320px) and (orientation:portrait){

}

/*Tablet Apps horizontal 768x1024*/
@media (min-width:1024px) and (orientation:landscape){

}
/*Tablet Apps vertical 1024x768*/
@media (min-width:768px) and (orientation:portrait){

}


/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1050px){

}