@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../../img/fondos/mar.jpg);
    background-size: 100%;
}
table{
    padding:5px;
    background-color: white;
}
/*Movil site horizontal 320x480*/
@media (max-width:320px) and (orientation:landscape){
    table{
        font-size: 12px;
        width: 200px;
        margin-left:40%;
    }
}
/*Movil site vertical 480x320*/
@media (min-width:320px) and (max-width:480px) and (orientation:portrait){
    table{
        font-size: 16px;
        width: 200px;
        margin-left:40%;
    }
}
/*Tablet Apps vertical 768x1024*/
@media (min-width:480px) and (max-width:768px) and (orientation:portrait){
    table{
        font-size: 25px;
        width: 500px;
        margin-left:40%;
    }
}
/*Tablet Apps horizontal 1024x768*/
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    table{
        font-size: 25px;
        width: 500px;
        margin-left:50%;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1024px){
    table{
        font-size: 25px;
        width: 1200px;
        margin-left:10%;
    }
}