@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../../img/fondos/mar.jpg);
    background-size: 100%;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0px;
}
button#editar{
    background-image: url("../../img/iconos/editar.png");
    border:none;
    background-repeat: no-repeat;
}
button#eliminar{
    background-image: url("../../img/iconos/bor.png");
    border:none;
    background-repeat: no-repeat;
}
.n{
    border: 1px solid black;
    background-color: white;
    padding: 2%;
}
/*Movil site horizontal 320x480*/
@media (max-width:320px) and (orientation:landscape){
    button#eliminar{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    button#editar{
        background-size:30px;
        width: 30px;
        height: 30px;
    }
    .n{
        font-size: 25px;
    }
    caption{
        font-size: 13px;
    }
    th{
        font-size: 11px;
    }
    input{
        width: 50px;
        text-align: center;
    }
    .h{
      width: 100px;  
    }
}
@media (max-width:320px) and (orientation:portrait){
    button#eliminar{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    button#editar{
        background-size:30px;
        width: 30px;
        height: 30px;
    }
    .n{
        margin: 1% auto;
        padding-left: 3%;
        font-size: 25px;
        width: 250px;
    }
    caption{
        font-size: 13px;
    }
    th{
        font-size: 11px;
    }
    input{
        width: 50px;
        text-align: center;
    }
    .h{
      width: 70px;
    }
}
/*Movil site vertical 480x320*/
@media (min-width:320px) and (max-width:480px) and (orientation:portrait){
    button#eliminar{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    button#editar{
        background-size:30px;
        width: 30px;
        height: 30px;
    }
    .n{
        margin: 1% auto;
        padding-left: 5%;
        font-size: 25px;
        width: 250px;
    }
    caption{
        font-size: 13px;
    }
    th{
        font-size: 11px;
    }
    input{
        width: 50px;
        text-align: center;
    }
    .h{
      width: 70px;  
    }
}
@media (min-width:320px) and (max-width:480px) and (orientation:landscape){
    button#eliminar{
        background-size: 30px;
        width: 30px;
        height: 30px;
    }
    button#editar{
        background-size:30px;
        width: 30px;
        height: 30px;
    }
    .n{
        margin: 1% auto;
        padding-left: 5%;
        font-size: 25px;
        width: 300px;
    }
    caption{
        font-size: 13px;
    }
    th{
        font-size: 11px;
    }
    input{
        width: 50px;
        text-align: center;
    }
    .h{
      width: 100px;  
    }
}
/*Tablet Apps vertical 768x1024*/
@media (min-width:480px) and (max-width:768px) and (orientation:portrait){
    button#eliminar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    button#editar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    .n{
        font-size: 25px;
        width: 450px;
        margin: 0px auto;
        padding:1%;
    }
    
    .h{
      width: 100px;  
    }
}
@media (min-width:480px) and (max-width:768px) and (orientation:landscape){
    button#eliminar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    button#editar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    .n{
        font-size: 25px;
        width:500px;
        margin: 0px auto;
        padding:1%;
    }
}
/*Tablet Apps horizontal 1024x768*/
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    button#eliminar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    button#editar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    .n{
        font-size: 28px;
        width: 600px;
        margin: 0px auto;
        padding-left:8%;
    }
}
@media (min-width:768px) and (max-width:1024px) and (orientation:portrait){
   button#eliminar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    button#editar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    .n{
        font-size: 25px;
        width: 550px;
        margin: 0px auto;
        padding-left:8%;
    }
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1024px){
    button#eliminar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    button#editar{
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
    .n{
        font-size: 25px;
        width: 550px;
        margin: 0px auto;
        padding-left: 9%;
    }
}