@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
button#editar{
    background-image: url("../../img/iconos/editar.png");
    border:none;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
}
div{
    font-size: 25px;
    width: 700px;
    border: 1px solid black;
    margin:150px;
    padding:5px;
    margin-left: 300px;
    background-color: green;
}
/*Movil site horizontal 320x480*/
@media (max-width:320px) and (orientation:landscape){
    
}
/*Movil site vertical 480x320*/
@media (min-width:320px) and (max-width:480px) and (orientation:portrait){
    
}
/*Tablet Apps vertical 768x1024*/
@media (min-width:480px) and (max-width:768px) and (orientation:portrait){
    
}
/*Tablet Apps horizontal 1024x768*/
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    
}
/*Pantalla de escritorio WebSite 1680x1050*/
@media (min-width:1024px){
    
}